/** Colors */

$primary-blue: #012A52;
$white: #ffffff;
$black: #000000;

/** Breakpoints  */
$max-width: 1500px;
$max-width-inner: 1068px;
$breakpoint--lg: 1068px;
$breakpoint--md: 768px;
$breakpoint--sm: 501px;

/** Box Model  */
$spacer:                2rem;


/** Fonts  */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

$body-font: 'Poppins', sans-serif;