.booking {
	background-color: $yellow;
	padding: 3rem 3em 6em 3em;
	color: $green;
	display: flex;
	justify-content: center;
	@media (min-width: $breakpoint-sm) {
		padding: 4em 4em 6em 4em;
	}
	.booking-text {
		font-size: 20px;
		text-align: center;
		font-family: $bold;
		a {
			text-decoration: none;
			color: $light-green;
		}
	}
	.booking-fields {
			display: grid;
			grid-template-rows: 33% 33% 33%;
			label {
				margin-top: 20px;
				display: grid;
				grid-template-columns: 50% 50%;
				span {
					color: $primary-blue;
					background: $white;
				}
			}
		}
}

.ui-datepicker-calendar {
	background: $white;
	padding: 0 10px 10px 10px;
	opacity: 100%;
}
.ui-datepicker {
	background: $white;
}
.ui-datepicker-header {
	text-align: center;
	a {
		margin: 0 10px;
		background: $primary-blue;
		color: $white;
		cursor: pointer;
		span {
			padding: 3px;
		}
	}
}