.cart {
	color: $green;
	.content {
		display: flex;
		justify-content: center;
		font-size: 25px;
		margin-top: 1em;
	}
	.booking-details {
		background: $green;
		color: $white;
		padding: 1em;
		margin-top: 1em;
	}
}
.woocommerce-cart-form {
	background: $white;
	margin: 2em 0 3em 0;
	@media (max-width: $breakpoint-sm) {
		margin: 2em 1em;
	}
	a {
		text-decoration: none;
		color: $green;
	}
	.coupon {
		display: none;
	}
}
.wc-proceed-to-checkout {
	.button {
		background: $light-green !important;
		padding: 15px !important;
		margin-top: 15px !important;
		font-size: 20px !important;
		&:hover {
			color: $white !important;
			background: $green !important;
		}
	}
}
.woocommerce-notices-wrapper {
	margin: 1em;
}
.cart_totals {
	margin: 1em;
  max-width: 85% !important;
}
.woocommerce-shipping-destination, .woocommerce-shipping-calculator {
	display: none;
}
