.woocommerce-form-coupon-toggle {
	display: none;
}
.woocommerce-checkout {
	h3 {
		text-align: center;
		font-family: $logo;
		font-size: 30px;
		color: $green;
	}
	.woocommerce-checkout-review-order {
		padding: 2em;
	}
}
.checkout {
	.col2-set {
		padding: 20px;
		width: 85% !important;
		@media (min-width: $breakpoint-sm) {
			padding: 2em;
		}
	}
}
.woocommerce-order {
	margin: 2em;
	p {
		font-size: 18px;
	}
	h2 {
		font-family: $logo;
		color: $green;
	}
	.time{
		padding-bottom: 1em;
	}
	.woocommerce-columns {
		padding: 0;
		margin-bottom: 3em;
		.woocommerce-column--1 {
			padding-right: 1em;
			@media (min-width: $breakpoint-sm) {
				width: 40%;
			}
		}
	}
}
