.woocommerce-form-coupon-toggle {
	display: none;
}
.woocommerce-checkout {
	h3 {
		text-align: center;
		font-family: $logo;
		font-size: 22px;
		color: $green;
	}
	.woocommerce-checkout-review-order {
		padding: 2em;
	}
}
.checkout {
	.col2-set {
		padding: 20px;
		width: 85% !important;
		@media (min-width: $breakpoint-sm) {
			padding: 2em;
		}
	}
}
