.menu {
	display: flex;
	justify-content: center;
	width: 100%;
}

.woocommerce-products-header {
	text-align: center;
}

.products {
	position: relative;
	padding: 2em;
	background: $white;
	overflow: auto;
	width: 100%;
	&::after {
		display: block !important;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		background-color: white;
		opacity: 0.5;
	}
	&.enabled::after {
		display: none !important;
	}
	h1 {
		text-align: center;
		padding-bottom: 1.5em;
		font-family: $logo;
		color: $green;
	}
	.product-card {
		margin-bottom: 4em;
		display: grid;
		justify-content: center;
		grid-template-columns: 100%;
		@media (min-width: $breakpoint-sm) {
			grid-template-columns: 50% 50%;
		}
		h4 {
			font-family: $logo;
			color: $green;
			font-size: 22px;
			margin-bottom: 10px;
		}
		p {
			margin: 0;
			max-width: 80%;
		}
		a {
			margin-top: 12px;
			color: $green;
			background: $yellow;
			&:hover {
				color: $white;
				background: $green;
			}
		}
	}
	.product-image {
		display: flex;
		justify-content: center;
		img {
			width: 335px;
			height: 335px;
			object-fit: cover;
			@media (min-width: $breakpoint-sm) {
				width: 60%;
			}
		}
	}
}

.product-details {
	a {
		background: $green;
		color: $white;
		padding: 0 1em 0.5em 1em;
		text-decoration: none;
		margin: 0 0 0 1em;
		&:hover {
			background: $light_green;
			color: $green;
		}
	}
}

.user-feedback {
	font-size: .8rem;
	&.success {
		color: green;
	}
	&.fail {
		color: red;
	}
}