.banner {
    .container {
        display: flex;
        justify-content: flex-end;
        .nav-primary {
            .nav {
                display: flex;
                li {
                    margin: 0 20px;
                    list-style: none;
                    a {
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}