.wrapper-hero {
	.hero-text {
		padding: 6rem 0 8rem 0;
		background: url('../../images/stripes.jpg') no-repeat center center fixed;
		background-size: cover;
		text-align: center;
		color: $green;
		@media (min-width: $breakpoint-sm) {
			padding: 12rem 0 8rem 0;
		}
		h1 {
			margin: 0;
			font-size: 4em;
			font-family: $logo;
			@media (min-width: $breakpoint-sm) {
				font-size: 8rem;
			}
		}
		h2 {
			font-size: 1.2em;
			text-transform: uppercase;
			@media (min-width: $breakpoint-sm) {
				font-size: 1.7rem;
			}
		}
		div	{
			margin-top: 3rem;
			a {
				text-transform: uppercase;
			}
		}
	}
}

.header {
	z-index: 5;
	width: 100%;
	.container {
		display: flex;
		background-color: $green;
		justify-content: space-between;
		.nav {
			justify-self: end;
			display: flex;
			align-items: center;
			ul {
				padding: 0;
				display: flex;
				justify-content: center;
			}
			li {
				margin: 0 20px;
				list-style: none;
				padding: 10px;
				a {
					color: $white;
					font-family: $body-font;
					text-transform: uppercase;
					text-decoration: none;
					@media (min-width: $breakpoint-sm) {
						padding: 5px 30px;
						&:hover  {
							color: $primary-blue;
							background: $white;
							border-radius: 25px;
						}
					}
				}
			}
		}
	}
}
.current_page_item {
	a {
		color: $primary-blue !important;
		background: $white;
		padding: 5px 30px;
		border-radius: 25px;
	}
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $logo;
	padding-left: 20px;

	@media (min-width: $breakpoint-sm) {
		padding-left: 30px;
	}
	a {
		color: $white;
		font-size: 40px;
	}
}


